<script src="createCard.js"></script>
<div class="form">
   <h1>Editing Card</h1>
   <script src="createCard.js"></script>
   <%= render 'form', card: @card %>
</div>


<%= link_to 'Show', @card %> |
<%= link_to 'Back', cards_path %>
