<script src="createCard.js"></script>
<link href="new_card.css">
  <br>
  <div class='new_categories'>
     <div class="form">
             <h1 style="colour: white;">New Card</h1>
               <%= render 'form', card: @card %>
     </div>

  </div>
