<script src="createCard.js"></script>

<link href="new_card.css">

  <div class="form" id="new_form">

      <h1 style="color: white;">New Card</h1>

      <%= render 'form', card: @card %>

  </div>
