<script src="createCard.js"></script>
<div class="form">


<h1>New Card</h1>

<%= render 'form', card: @card %>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%= link_to 'Back', cards_path %>
</div>
