/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.dropdown-items {
    display: none;
}
#myTable_length,#myTable_paginate, .sorting, .sorting_asc  {
   display: none;
}

.show {display:inline-block;}

body{
   margin-bottom: 150px;
}



.bottom_nav_bar{
  box-shadow: 0px 0px 200px gray;
  background-color: #f2f2f2;
  border: 1px solid black;
  height: 150px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

}

ul li {
  display: inline;
}

#dm {
  margin-left: 9em;
}

.bottom_ul li{
  margin-left: 5em;
  margin-right: 5em;
}

.fas, .far {
  color: #7a7a7a;
}

.fas:hover, .far:hover {
   transform: scale(1.2);
   color: black
}


#friends{
   display: block;
}


.dataTables_empty{
   display: none;
}
