@media only screen and (min-width: 500px) {

    body {
        display: flex;
        flex-direction: column;
        margin-right: 5em
    }

       .gr__localhost {
         font-size: 400%;
       }
       p {
         font-size: 10em;
       }
       #myTable td {
         font-size: 1.5rem;
         color: black;
         height: 50px;
         width: 500px;
       }
       h1 {
          font-size: 6rem;
       }

       h2 {
          font-size: 4rem;
       }

       h3 {
          font-size: 3rem;
       }
    #myTable_wrapper{
      width: 700px;
    }

    .form{
      width: 100%;
      /* min-width: 100vw; */
   }

   .tab-group{
     width: 100%;
   }

   .login_buttons{
     margin-left: 20%;
     margin-right: 20%;
   }

   #peopleTable td a{
      font-size: 3em;
      color: black;
   }

   #peopleTable td {
      /* font-size: 4em; */
      color: black;
      height: 50px;
      width: 5000px;
    }

    .field{
      /* height: 100px; */
      margin-bottom: 3em;
   }

   .field label{
      font-size: 300%;
            /* margin-bottom: 3em; */

   }
   .btn .btn-primary{
      size:30em
   }


}
