/* Dropdown Button */
.dropdown-items {
    display: none;
}


.show {display:inline-block;}

body{
  /* width: 800px; */
}


.footer{
  box-shadow: 0px 0px 200px lightgray;
  border: 1px solid black;
  height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

}

ul li {
  display: inline;
}

#dm {
  margin-left: 9em;
}

.bottom li{
  margin-left: 3em;
  margin-right: 2.5em;
}

.fas {
  color: black;
}
.titleselec{
  width: 50%;
}
.mcv_menu{
  display: flex;
  flex-direction: row;
}
#expbtn{
  margin-left: 10px;
}
.card-title{
   color: white;
}

.form1{
   border-top: 100em;
   width: 100%;
}

.edit-page{
   margin: 5em;
}

.form2{
   height: 300em;
   display: inline-flex;
   flex-direction: row;
}

a {
   color: black;
}

a:visited{
   /* font-style: normal; */
   color: black;
}
#myTable_filter{
  display: table-column;
  margin-right: 3em;
  margin-bottom: 2rem;
}
